In [1]:
my_set={1,2,3,4,5,6,7}
print(type(my_set))

<class 'set'>

In [2]:
my_set.add(3)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [13]:
my_set.clear()
print(my_set)

set()

In [28]:
set={1,1,2,9,8,5,2,4,5,5,6,3,5,3}
print(set)

{1, 2, 3, 4, 5, 6, 8, 9}

In [29]:
set.remove(1)

In [30]:
print(set)

{2, 3, 4, 5, 6, 8, 9}

In [31]:
set.discard(1)   ## remove an element from a set if it a member or else it will conitnue with out error
print(set)

{2, 3, 4, 5, 6, 8, 9}

In [32]:
set.discard(6)
print(set)

{2, 3, 4, 5, 8, 9}

In [33]:
remove_element=set.pop() ##   remove starting element
print(remove_element)
print(set)

2
{3, 4, 5, 8, 9}

In [18]:
print(set)

{9}

In [25]:
set.clear()

In [26]:
print(set)

set()

In [29]:
## set membership test
my_set={1,2,3,4,5,6}
print(4 in my_set)

False
True

In [40]:
## mathematical operation
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
## union (combining all)
union_set=s1.union(s2)
print(union_set)
## intersection ( only same value)
in_set=s1.intersection(s2)
print(in_set)
## intersection update(common element and update it in s1/s2)
s2.intersection_update(s1)
print(s1)
print(s2)
## differnce (find the differnt values)
print(s1.difference(s2))
print(s2.difference(s1))## because in back top updated s2 as 4 5 6 so it empty

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3, 4, 5, 6}
{4, 5, 6}
{1, 2, 3}
set()

In [51]:
## symmetrical differnce (uncommon value it will display)
s1={1,2,3, 4,5,6,7}
s2={5,6,7,8,9,8,9}
print(s1.symmetric_difference(s2))
print(s2)
print(s1.issubset(s2))     ##  is subset
print(s2.issuperset(s1))   ## is superset

{1, 2, 3, 4}
{5, 6, 7}
False
False

In [52]:
## is superset
s1={1,2,3,4,5,6,7}
s2={4,5,6,7}
print(s1.issuperset(s2))

True

In [2]:
## counting unique words in text
text="my name is preetham reddy"
words=text.split()
## convert list to set 
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'reddy', 'name', 'is', 'my', 'preetham'}
5

In [1]:
text = "This is a sample text with some words repeated repeated"
words = text.split()

# Rename any conflicting variables
my_unique_words = set(words)

print(my_unique_words)
print(len(my_unique_words))

{'text', 'words', 'sample', 'a', 'repeated', 'is', 'some', 'This', 'with'}
9

In [ ]:
## []  for empty list
## () for tupel
## {} for dictionery

In [8]:
## empty dictionery
emp_dic={}
print(emp_dic)
print(type(emp_dic))

{}
<class 'dict'>

In [13]:
## empty dictionery another way
emp_dic=dict()
print(emp_dic)
type(emp_dic)

{}

dict

In [3]:
## creating dictionery
student={"name": "preetham reddy","age":"19","branch":"ise","sem":"4","college":"brindavan college"}
print(student)
print(type(student))

{'name': 'preetham reddy', 'age': '19', 'branch': 'ise', 'sem': '4', 'college': 'brindavan college'}
<class 'dict'>

In [4]:
## acccesing direct element
print(student['name'])

preetham reddy

In [5]:
print(student['sem'])

4

In [6]:
## accesing by get
print(student.get('college'))
print(student.get('last_name'))
print(student.get('last_name','not avilable'))

brindavan college
None
not avilable

In [7]:
## addind updating element delete in dictonery
student["branch"]="information science" ## update
print(student)
student["age"]=18  ## updating
print(student)
student["adddress"]="sri nandini pg" ## adding
print(student)
del student['age']
print(student)

{'name': 'preetham reddy', 'age': '19', 'branch': 'information science', 'sem': '4', 'college': 'brindavan college'}
{'name': 'preetham reddy', 'age': 18, 'branch': 'information science', 'sem': '4', 'college': 'brindavan college'}
{'name': 'preetham reddy', 'age': 18, 'branch': 'information science', 'sem': '4', 'college': 'brindavan college', 'adddress': 'sri nandini pg'}
{'name': 'preetham reddy', 'branch': 'information science', 'sem': '4', 'college': 'brindavan college', 'adddress': 'sri nandini pg'}

In [8]:
## define theall the keys ,values ,key value pairs
keys=student.keys()   ## keys
print(keys)
value=student.values() ##values
print(value)
items=student.items()  ##item
print(items)

dict_keys(['name', 'branch', 'sem', 'college', 'adddress'])
dict_values(['preetham reddy', 'information science', '4', 'brindavan college', 'sri nandini pg'])
dict_items([('name', 'preetham reddy'), ('branch', 'information science'), ('sem', '4'), ('college', 'brindavan college'), ('adddress', 'sri nandini pg')])

In [9]:
student

{'name': 'preetham reddy',
 'branch': 'information science',
 'sem': '4',
 'college': 'brindavan college',
 'adddress': 'sri nandini pg'}

In [10]:
##  shallow copy (if we update any value in student it will update in student_details)
student_details=student
print(student)
print(student_details)

{'name': 'preetham reddy', 'branch': 'information science', 'sem': '4', 'college': 'brindavan college', 'adddress': 'sri nandini pg'}
{'name': 'preetham reddy', 'branch': 'information science', 'sem': '4', 'college': 'brindavan college', 'adddress': 'sri nandini pg'}

In [11]:
student["name"]="preetham"
print(student)
print(student_details)

{'name': 'preetham', 'branch': 'information science', 'sem': '4', 'college': 'brindavan college', 'adddress': 'sri nandini pg'}
{'name': 'preetham', 'branch': 'information science', 'sem': '4', 'college': 'brindavan college', 'adddress': 'sri nandini pg'}

In [12]:
## shallow copy  (if we update any value in student it won't update in student_details)
student_copy=student.copy()
print(student_copy)
print(student)

{'name': 'preetham', 'branch': 'information science', 'sem': '4', 'college': 'brindavan college', 'adddress': 'sri nandini pg'}
{'name': 'preetham', 'branch': 'information science', 'sem': '4', 'college': 'brindavan college', 'adddress': 'sri nandini pg'}

In [13]:
## shallow copy 
student["name"]="preetham reddy"
print(student)
print(student_copy)

{'name': 'preetham reddy', 'branch': 'information science', 'sem': '4', 'college': 'brindavan college', 'adddress': 'sri nandini pg'}
{'name': 'preetham', 'branch': 'information science', 'sem': '4', 'college': 'brindavan college', 'adddress': 'sri nandini pg'}

In [17]:
## iterate for keys , values and key value pairs
for keys in student.keys():
    print(keys)
for values in student.values():
    print(values)
for item in student.items():
    print(item)

name
branch
sem
college
adddress
preetham reddy
information science
4
brindavan college
sri nandini pg
('name', 'preetham reddy')
('branch', 'information science')
('sem', '4')
('college', 'brindavan college')
('adddress', 'sri nandini pg')

In [18]:
## iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:preetham reddy
branch:information science
sem:4
college:brindavan college
adddress:sri nandini pg

In [3]:
## nested dictioneries
student={ "student1":{"name":"preetham","age":19},"student2":{"name":"rakshith","age":19} }
print(student)

{'student1': {'name': 'preetham', 'age': 19}, 'student2': {'name': 'rakshith', 'age': 19}}

In [4]:
## access nested dictionery
print(student["student1"])
print(student["student2"])
print(student["student1"]["name"])
print(student["student2"]["name"])

{'name': 'preetham', 'age': 19}
{'name': 'rakshith', 'age': 19}
preetham
rakshith

In [13]:
student.items()

dict_items([('student1', {'name': 'preetham', 'age': 19}), ('student2', {'name': 'rakshith', 'age': 19})])

In [18]:
##iterate over nested dictionary
for student_id,student_info in student.items():
    print(f"{student_id},{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1,{'name': 'preetham', 'age': 19}
name:preetham
age:19
student2,{'name': 'rakshith', 'age': 19}
name:rakshith
age:19

In [19]:
## dictionary comphrension
square={x:x**2 for x in range(6)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [22]:
##  condition dictionary comphrension
square={x:x**2 for x in range(10) if x%2==0}
print(square)
print(type(square))

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}
<class 'dict'>

In [4]:
## count the frequency of element in list
num=[1,2,3,4,5,6,6,8,7,2,7,4,3,9,2,4]
frequency={}

for nu in num:
    if nu in frequency:
        frequency[nu]+=1
    else:
        frequency[nu]=1
print(frequency)

{1: 1, 2: 3, 3: 2, 4: 3, 5: 1, 6: 2, 8: 1, 7: 2, 9: 1}

In [8]:
## merge dictionery
dict1={"names":"preetham","ages":19}
dict2={"name":"rakshith","age":19}
merge_dict={**dict1,**dict2}
print(merge_dict)

{'names': 'preetham', 'ages': 19, 'name': 'rakshith', 'age': 19}