In [1]:
## odd numbers
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [7]:
# print i mod 3=2 values of range 10
for i in range(10):
    if i%3==2:
        break
    print(i)

0
1

In [40]:
for i in range(5):
    if i==3:
        pass
        print("the number is:",i)
       
    print(i)

0
1
2
the number is: 3
3
4

In [43]:
## truth table
for i in range(2):
    for j in range(2):
        print(f"i:{i}and j:{j}")

i:0and j:0
i:0and j:1
i:1and j:0
i:1and j:1

In [45]:
## truth table
for i in range(4):
    for j in range(3):
        print(f"i:{i}and j:{j}")

i:0and j:0
i:0and j:1
i:0and j:2
i:1and j:0
i:1and j:1
i:1and j:2
i:2and j:0
i:2and j:1
i:2and j:2
i:3and j:0
i:3and j:1
i:3and j:2

In [2]:
## sum of first 5 natural numbers
n=5
sum=0
count=1
while count<=n:
    sum=sum+count
    count=count+1
print("sum of first 5 natural number:",sum)

sum of first 5 natural number: 15

In [1]:
## sum of 1 to 6 
sum=0
for i in range(1,6):
    print(i)
    sum=sum+i
print("=",sum)

1
2
3
4
5
= 15

In [72]:
## break   clear the logic
for n in range(1,101):
    if n>1:
        for i in range(2,n):
            if n%i==0:
                break
        else:
             print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [8]:
## date type
lst=[]
type(lst)

list

In [10]:
## list
name=["apple","banana","orange","grapes"]
print(name)

['apple', 'banana', 'orange', 'grapes']

In [11]:
c=[1,25.67,"apple","orange",3,3.4,6,7,8]
print(c,type(c))

[1, 25.67, 'apple', 'orange', 3, 3.4, 6, 7, 8] <class 'list'>

In [2]:
## printing list position value, replacing
fruit=["apple","orange","grapes","kiwi","bannana"]
print(fruit[2])
print(fruit[-1])
print(fruit[0])
print(fruit[-2])
print(fruit[2:])
print(fruit[:2])
print(fruit[1:-2])
fruit[1]="watermelon"
print(fruit)

grapes
bannana
apple
kiwi
['grapes', 'kiwi', 'bannana']
['apple', 'orange']
['orange', 'grapes']
['apple', 'watermelon', 'grapes', 'kiwi', 'bannana']