In [1]:
## singhle line cmd
##preetham reddy

In [6]:
## adding of a 2 numbers
x=10;y=90;z=x+y;
print(z)

100

In [7]:
""" data types 
 int =10
 float =10.909
 str = "preetham" (string) 
 c=[1,25.67,"apple","orange",3,3.4,6,7,8]  (list)
 student={"name": "preetham reddy","age":"19","branch":"ise","sem":"4","college":"brindavan college"}  (dictionery)
 t=(4,5,6)(tuple)
 """

' data types \n int =10\n float =10.909\n str = "preetham" (string) '

In [1]:
t=(4,5,6)
type(t)

tuple

In [2]:
##data type integer
age=80
type(age)

int

In [3]:
##data type integer
age=80
type(age)

int

In [8]:
## nested if else condition
if True:
    print("correct")
    if False:
        print("correct1")
    else: 
        print("correct3")
else: 
    print("correct4")

correct
correct3

In [1]:
## nested if else condition
if True:
    print("111")
    if True: 
        print("222")
        if False:
            print("333")
        else:
            print("444")
    else:
        print("555")
else:
    print("666")

111
222
444

In [9]:
##if condition  with syntex error
if True:
    print("111")
    if 70==70.0: 
        print("222")
        if 69==69.00000:
            print("333")
        print("444")
    print("555")
print("666")

111
222
333
444
555
666